/*Square*/

.square-wrapper{
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square-wrapper .Coin-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}

/* Style for safezone squares */
.square-wrapper.safe-zone {
    background-color: lightgreen; /* Change background color of safe-zone squares */
  }
  
  /* Style for red safe-zone square */
  .square-wrapper.safe-zone[data-index="24"] {
    background-color: red;
  }
  
  /* Style for blue safe-zone square */
  .square-wrapper.safe-zone[data-index="20"] {
    background-color: blue;
  }
  
  /* Style for pink safe-zone square */
  .square-wrapper.safe-zone[data-index="56"] {
    background-color: pink;
  }
  
  /* Style for yellow safe-zone square */
  .square-wrapper.safe-zone[data-index="60"] {
    background-color: yellow;
  }
  

/* Coin.css */
.g-wrapper {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--goti-color); /* Use a CSS variable for dynamic color */
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Dice*/
.dice-wrapper {
    outline: none;
    background-color: rgb(13, 236, 13);
    color: indianred;
    font-size: larger;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}


/*board*/

.board-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
}
.board-wrapper .board-row{
    display: flex;
    flex-direction: row;
}

.text{
    color: white;
  }