.card{
    height: 250px;
    width: 230px;
    margin: 10px;
    color: white;
    text-align: center;
    background-color: black;
    }
.card:hover{
    transform: scale(1.10);
    cursor: pointer;
    background-color: white;
    color: black;
}